<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="at.medevit.elexis.geonames.countryGeonameService">
      <CountryGeonameService
            countryCode="CH"
            countryGeonameService="at.medevit.elexis.geonames.ch.CountryGeonameService">
      </CountryGeonameService>
   </extension>

</plugin>
