<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/at.medevit.stammdaten.converter/src/at/medevit/stammdaten/converter/Convert.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="at.medevit.stammdaten.converter.Convert"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="--inboundFile &quot;/Users/marco/Desktop/[1177] Stammdaten Neu/datasets/swissindex_PHARMA_070213.xml&quot; --preparationsFile &quot;/Users/marco/Desktop/[1177] Stammdaten Neu/XMLPublications/Preparations.xml&quot;"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="at.medevit.stammdaten.converter"/>
</launchConfiguration>
